body {
  box-sizing: border-box;
}

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999 !important;
}

#header-img {
  margin-top: 160px;
  height: 100%;
}

.jumbotron {
  padding: 2rem;
}

h1 {
  padding: 15px;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 24px;
  width: 75%;
  margin: 25px auto;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 20px 50px;
}

hr {
 background-color: white;
 width: 60%;
}

li {
  color: white;
}

input {
  background-color: #fffcf7;
}

#navbarColor03 {
   justify-content: end;
}

#lets-play {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 0px;
  border: 1px solid #dee2e6;
}

#score-board {
  width: 100%;
  margin: 0 auto;
  margin: 0px;
  padding: 0px;
  border: 1px solid #dee2e6;
}

.parallax1 {
    background-image: url("./assets/rps-topImg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("./assets/fighter.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*/=====================================================
   Welcome Zone Styling (swap)
=====================================================/*/

#welcome-zone {
  width: 75%;
  margin: 25px auto;
  text-align: center;
}

#welcome-zone input {
  width: 60%;
  height: 50px;
  font-size: 26px;
  margin: 0 auto;
}

#welcome-zone button {
  margin-top: 15px;
  font-size: 22px;
}

@media only screen and (max-width: 474px) {
  input#username {
    font-size: 1.25em;
  }
}

/*/=====================================================
  Turn Indicator Styling
=====================================================/*/

#current-turn {
  width: 75%;
  margin: 25px auto;
  text-align: center;
}

/*/=====================================================
  Game RPS Styling
=====================================================/*/
#game-div {
  width: 75%;
  margin: 25px auto;
  text-align: center;
}

#player1-name,
#player2-name
  margin-bottom: 15px;
  font-size: 28px;
}
swap
#player1-chosen,
#player2-chosen {
  margin-top: 25px;
  font-size: 60px;
}

li {
  margin: 12px 0;
  font-size: 24px;
}

.outcomes {
  /*position: absolute;*/
  bottom: 10px;
  width: 90%;
  text-align: center;
}

.outcome-trackers {
  display: inline-block;
}

#result h2 {
  margin-top: 20px;
  font-size: 60px;
}

@media only screen and (max-width: 374px) {
  #refereeId {
    font-size: 1.05em;
  }
}


/*/=====================================================
  ScoreBoard Styling
=====================================================/*/
tr,
th,
td {
  text-align: center;
}
