body {
  background: url('/assets/wood2.jpg') no-repeat center center fixed; /*wood3 is also a good background opt. */
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

table.checkers {
    width: 60vw;
    height: 83vh;
    margin: 80px auto;
    background: #F0D2B4;
    border: 15px solid #333;
    border-collapse: collapse; /* */
}
td.checkers {
    width: 70px; height: 70px;
    border: 2px solid #333; /* */
}
tr.checkers:nth-child(odd) td.checkers:nth-child(even),
tr.checkers:nth-child(even) td.checkers:nth-child(odd) {
    background: #BA7A3A;
}

div.checker{
	background: #CC0000;
 -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
































/* /////////////////////////////////////////////////////////// */
/*/=====================================================
  Turn Indicator Styling
=====================================================/*/

#current-turn {
  width: 75%;
  margin: 25px auto;
  text-align: center;
}


/*/=====================================================
  Game Styling
=====================================================/*/
#game-div {
  width: 75%;
  margin: 25px auto;
  text-align: center;
}

#player1-name {
  margin-bottom: 15px;
  font-size: 28px;
}

swap
#player1-chosen {
  margin-top: 25px;
  font-size: 60px;
}

li {
  margin: 12px 0;
  font-size: 24px;
}

.outcomes {
  /*position: absolute;*/
  bottom: 10px;
  width: 90%;
  text-align: center;
}

.outcome-trackers {
  display: inline-block;
}

#result h2 {
  margin-top: 20px;
  font-size: 60px;
}

@media only screen and (max-width: 374px) {
  #refereeId {
    font-size: 1.05em;
  }
}
